In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\gabri\appdata\local\programs\python\python312\lib\site-packages (2.2.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\gabri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gabri\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gabri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gabri\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\gabri\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

## Exercicio 1

In [24]:

# Criação marca_carros
marca_carros = ('Chevrolet', 'Fiat', 'Honda', 'Audi', 'Mercedes','Toyota')

marcas_carros_modificados = list(marca_carros)
marcas_carros_modificados[2] = 'volvo'
marcas_carros_modificados = tuple(marcas_carros_modificados)

# nova tupla concatenada
nova_tupla = ('mitsubishi','ford')
tupla_carros = marcas_carros_modificados + nova_tupla

# Resultado
print(tupla_carros)

('Chevrolet', 'Fiat', 'volvo', 'Audi', 'Mercedes', 'Toyota', 'mitsubishi', 'ford')

## Exercicio 2

In [21]:
# Lista numeros do RA.
ra_numeros = [5,5,3,0,9,4]

# Função de retoro soma do quadrado.
def soma_quadrado_ra(RA_numeros):
    soma_quadrado = sum(num**2 for num in ra_numeros)
    return soma_quadrado

# Resultado e teste da função.
print("A soma do quadrado dos numeros do ra é:",soma_quadrado_ra(ra_numeros))

A soma do quadrado dos numeros do ra é: 156

## Exercicio 3

In [38]:
primeiro_nome = input(" Digite seu primeiro nome: ")

segundo_nome = input("Digite seu segundo nome:")

nome_completo = primeiro_nome.capitalize() + segundo_nome.capitalize()

print("Nome completo:", nome_completo)

Nome completo: Gabriel Trimboli

## Exercicio 4

In [4]:

dados = {
    'Carro': ['Chevrolet', 'Fiat', 'Honda', 'Audi', 'Mercedez', 'Toyota'],
    'Vendas': [2000, 1300, 2500, 900, 832, 1500]}

df_carros = pd.DataFrame(dados)

print("Quantidade mínima de vendas:", df_carros['Vendas'].min())

print("Quantidade máxima de vendas:", df_carros['Vendas'].max())

print("Quantidade média de vendas:", df_carros['Vendas'].mean())

print("Soma total de vendas:", df_carros['Vendas'].sum())

Quantidade mínima de vendas: 832
Quantidade máxima de vendas: 2500
Quantidade média de vendas: 1505.3333333333333
Soma total de vendas: 9032

## Exercicio 5

In [ ]:
import pandas as pd

temperatura = (28, 30, 32, 29, 27, 26, 25, 26, 28, 29, 35, 31, 32, 33, 34,
                33, 31, 30, 29, 28, 27, 26, 25, 26, 27, 28, 38, 31, 32, 33)

temperatura_series = pd.Series(temperatura)

# A) 
media_temperatura = temperatura_series.mean()
print("Temperatura média do mês:", media_temperatura)

# B)
dia_mais_quente = temperatura_series.idxmax() + 1  
print("O dia mais quente do mês foi o dia:", dia_mais_quente)

# C)
dias_acima_de_30 = temperatura_series[temperatura_series > 30]
print("Dias em que a temperatura foi superior a 30 graus Celsius:", dias_acima_de_30)
# D)
dias_acima_da_media = temperatura_series[temperatura_series > media_temperatura]
num_dias_acima_da_media = len(dias_acima_da_media)
print("Número de dias em que a temperatura foi superior à média do mês:", num_dias_acima_da_media)

In [25]:
import pandas as pd

In [28]:
# variavel temperatura 
temperatura = (28,30,32,29,27,26,25,26,28,29,35,31,32,33,34,
               33,31,30,29,28,27,26,25,26,27,28,38,31,32,33)

temperatura_series = pd.Series(temperatura)

In [34]:
# A) Temperatura Media do mês
media_temperatura = temperatura_series.mean()
print("Temperatura media do mês:", media_temperatura)

Temperatura media do mês: 29.633333333333333

In [33]:
# B) Determine o dia mais quente do mês.
dia_mais_quente = temperatura_series.idxmax() + 1
print("O dia mais quente do mes foi o dia:", dia_mais_quente)

O dia mais quente do mes foi o dia: 27

In [31]:
# C) Encontre os dias em que a temperatura foi superior a 30 graus Celsius.
dias_acima_de_30 = temperatura_series[temperatura_series >30]
print("Dias em que a temperatura foi maior que 30 graus:", dias_acima_de_30)

Dias em que a temperatura foi maior que 30 graus: 2     32
10    35
11    31
12    32
13    33
14    34
15    33
16    31
26    38
27    31
28    32
29    33
dtype: int64

In [32]:
# D) Calcule o numero de dias em que a temperatura foi superior a media do mes.
dias_acima_da_media = temperatura_series[temperatura_series >media_temperatura]
num_dias_acima_da_media = len(dias_acima_da_media)
print("Numero de dias em que a temperatura foi superior a media do mes:", num_dias_acima_da_media)

Numero de dias em que a temperatura foi superior a media do mes: 14

## Exercicio 6

In [5]:
import numpy as np

precipitacao_2023 = np.array([270, 210, 160, 120, 80, 50, 40, 50, 80, 140, 190, 250])

total_precipitacao = np.sum(precipitacao_2023)
print("Total de precipitação pluviométrica ao longo do ano de 2023:", total_precipitacao, "mm")

mes_maior_precipitacao = np.argmax(precipitacao_2023) + 1  
print("Mês com maior precipitação:", mes_maior_precipitacao)

media_chuvas_por_mes = np.mean(precipitacao_2023)
print("Média de chuvas por mês:", media_chuvas_por_mes, "mm")

meses_acima_150mm = np.where(precipitacao_2023 > 150)[0] + 1  
print("Meses em que a precipitação foi superior a 150 mm:", meses_acima_150mm)

meses_abaixo_100mm = np.sum(precipitacao_2023 < 100)
print("Quantidade de meses em que a precipitação foi inferior a 100 mm:", meses_abaixo_100mm)

Total de precipitação pluviométrica ao longo do ano de 2023: 1640 mm
Mês com maior precipitação: 1
Média de chuvas por mês: 136.66666666666666 mm
Meses em que a precipitação foi superior a 150 mm: [ 1  2  3 11 12]
Quantidade de meses em que a precipitação foi inferior a 100 mm: 5