# Setup

In [ ]:
pip install sympy

# Aula 14

In [6]:
tupla = tuple ('string')
tupla

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tupla2 = tuple (['foo', [1,2], True])
tupla2

('foo', [1, 2], True)

In [9]:
tupla2[2] = False
# Não rodará, pq tuplas não podem alterar valores

TypeError: 'tuple' object does not support item assignment

In [10]:
lista = list(tupla2)
lista.insert(0,'hoje')
nova_tupla=tuple(lista)

nova_tupla

"""
Outra forma

lista=list(tupla)
posicao_insercao=lista.index('foo')+1
lista.insert(posicao_insercao, 'hoje')
nova_tupla=tuple(lista)
nova_tupla

('foo', 'hoje', [1,2], True)
"""

('hoje', 'foo', [1, 2], True)

In [11]:
(4,None,'foo') + (6,0) + ('bar',1)

(4, None, 'foo', 6, 0, 'bar', 1)

In [12]:
('foo','bar') *4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [13]:
(4,8,12) + (3,6,9)

(4, 8, 12, 3, 6, 9)

In [15]:
tupla_1 = (4,8,12)

for numero in tupla_1:
    novo_numero = numero*2
    print(novo_numero)

8
16
24

In [18]:
nova_tupla1=[]

for numero in tupla_1:
    novo_numero=numero*2
    nova_tupla1.append(novo_numero)

nova_tupla1=tuple(nova_tupla1)
nova_tupla1

(8, 16, 24)

In [23]:
tupla3 = (4,5,6)
a,b,c = tupla3
a

4

In [29]:
tupla4 = 4,5,(6,7)
d,e,(f,g) = tupla4
g

7

## Estrutura de dados

In [32]:
a,b=1,2
b,a=a,b

a

2

In [33]:
a = 10
b = 5

temp = a
a = b
b = temp

print('Depois da troca:')
print('a=',a)
print('b=',b)

Depois da troca:
a= 5
b= 10

## Exercícios

In [ ]:
"""
1. Crie uma tupla chamada frutas com os seguintes elementos: 'maçã', 'banana', 'laranja', 'uva'.

2. Acesse o segundo elemento da tupla frutas.

3. Substitua o terceiro elemento da tupla frutas por 'manga' e armazene a tupla modificada em uma
nova variável chamada frutas_modificadas.

4. Concatene a tupla frutas_modificadas com a tupla ('abacaxi', 'limão') e armazene o resultado em
uma nova tupla chamada frutas_concatenadas.

5. Verifique se o elemento 'uva' está presente na tupla frutas_concatenadas.

6. Descubra o índice do elemento 'banana' na tupla frutas_concatenadas.

7. Conte quantas vezes o elemento 'uva' aparece na tupla frutas_concatenadas.

8. Crie uma tupla chamada numeros com os números de 1 a 5.

9. Multiplique cada elemento da tupla numeros por 2 e armazene o resultado em uma nova tupla chamada
numeros_dobrados.

10. Crie uma tupla vazia chamada vazia e verifique seu comprimento.
"""

In [2]:
# 1. Crie uma tupla chamada frutas com os seguintes elementos: 'maçã', 'banana', 'laranja', 'uva'.
frutas = ('maçã', 'banana', 'laranja', 'uva')

# 2. Acesse o segundo elemento da tupla frutas.
frutas[1]

'banana'

In [18]:
#3. Substitua o terceiro elemento da tupla frutas por 'manga' e armazene a tupla modificada em uma
#   nova variável chamada frutas_modificadas.


lista = list(frutas)
trocar=lista[2]
lista.insert(2,'manga')
lista.remove(trocar)
frutas_modificadas=tuple(lista)
print(frutas)
print(frutas_modificadas)

('maçã', 'banana', 'manga', 'uva')
('maçã', 'banana', 'manga', 'uva')

In [19]:
# 4. Concatene a tupla frutas_modificadas com a tupla ('abacaxi', 'limão') e armazene o resultado em
#    uma nova tupla chamada frutas_concatenadas.
frutas_concatenadas = frutas_modificadas + ('abacaxi','limão')
frutas_concatenadas

('maçã', 'banana', 'manga', 'uva', 'abacaxi', 'limão')

In [20]:
# 5. Verifique se o elemento 'uva' está presente na tupla frutas_concatenadas.

if 'uva' in frutas_concatenadas:
    print("A uva está presente na tupla.")
else:
    print("A uva não está presente na tupla.")

A uva está presente na tupla.

In [21]:
# 6. Descubra o índice do elemento 'banana' na tupla frutas_concatenadas.

indice_banana = frutas.index('banana')
indice_banana

1

In [22]:
# 7. Conte quantas vezes o elemento 'uva' aparece na tupla frutas_concatenadas.

contagem_uva = frutas_concatenadas.count('uva')
contagem_uva

1

In [24]:
# 8. Crie uma tupla chamada numeros com os números de 1 a 5.

numeros = (1, 2, 3, 4, 5)

In [25]:
# 9. Multiplique cada elemento da tupla numeros por 2 e armazene o resultado em uma nova tupla chamada
#    numeros_dobrados.

numeros_dobrados=[]

for numero in numeros:
    novo_numero=numero*2
    numeros_dobrados.append(novo_numero)

numeros_dobrados=tuple(numeros_dobrados)
numeros_dobrados

(2, 4, 6, 8, 10)

In [26]:
# 10. Crie uma tupla vazia chamada vazia e verifique seu comprimento.

vazia = ()
len(vazia)

0

## Estrutura de dados - Lista

In [85]:
gen = range(10)
gen

range(0, 10)

In [86]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b_list = ['agua', 'fogo', 'terra']

In [87]:
[4,None,'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [89]:
x=[4,None,'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [90]:
lista_da_lista = [[1,2,3],[4,5,6],[7,8,9]]
all = []

for pedaco in lista_da_lista:
    all.extend(pedaco)

all

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
a = [7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [93]:
b=['saw','small','He','foxes','six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [94]:
seq = [7,2,3,7,5,6,0,1]

In [99]:
seq[1:5]

[2, 3, 7, 5]

In [98]:
seq[3:4]

[7]

In [97]:
seq[:5]

[7, 2, 3, 7, 5]

In [95]:
seq[3:]

[7, 5, 6, 0, 1]

In [96]:
seq[-4:]

[5, 6, 0, 1]

In [100]:
seq[::2]

[7, 3, 5, 0]

In [101]:
seq[::3]

[7, 7, 0]

## Exercicio

In [ ]:
'''
1. Crie uma lista com os números de 1 a 10 e imprima-a.
2. Crie uma lista vazia e adicione os números pares de 1 a 10 a ela.
3. Dada uma lista de números, encontre o maior elemento.
4. Dada uma lista de palavras, crie uma nova lista com todas as palavras em
maiúsculas.
5. Dada uma lista de números, calcule a soma de todos os elementos.
6. Dada uma lista de números, conte quantos números são maiores que 5.
7. Dada uma lista de strings, ordene-a em ordem alfabética.
8. Dada uma lista de números, remova os elementos repetidos.
9. Dada uma lista de strings, encontre a palavra mais longa.
10. Dada uma lista de listas, concatene todas as sublistas em uma única lista.
'''

In [27]:
# 1. Crie uma lista com os números de 1 a 10 e imprima-a.
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
# 2. Crie uma lista vazia e adicione os números pares de 1 a 10 a ela.

pares = []

for numero in numeros:
    if numero%2 == 0:
        pares.append(numero)
    else:
        continue

print (pares)

[2, 4, 6, 8, 10]

In [29]:
# 3. Dada uma lista de números, encontre o maior elemento.

numeros = [5, 12, 8, 3, 17, 10]
maior = max(numeros)
print(maior)

17

In [36]:
# 4. Dada uma lista de palavras, crie uma nova lista com todas as palavras em maiúsculas.

palavras = ['python', 'é', 'incrível']
maiusculas = []
for palavra in palavras:
    maiusculas.append(palavra.upper())
print(maiusculas)

['PYTHON', 'É', 'INCRÍVEL']

In [37]:
# 5. Dada uma lista de números, calcule a soma de todos os elementos.
numeros = [5, 12, 8, 3, 17, 10]
soma = sum(numeros)
print (soma)

55

In [39]:
# 6. Dada uma lista de números, conte quantos números são maiores que 5.
numeros = [3, 7, 10, 2, 8, 5]
cont = 0
for numero in numeros:
    if numero > 5:
        cont += 1
print(cont)

3

In [41]:
# 7. Dada uma lista de strings, ordene-a em ordem alfabética.

frutas = ['maçã', 'banana', 'manga', 'uva', 'abacaxi', 'limão']

frutas.sort()
frutas

['abacaxi', 'banana', 'limão', 'manga', 'maçã', 'uva']

In [42]:
# 8. Dada uma lista de números, remova os elementos repetidos.

numeros = [1, 2, 2, 3, 4, 4, 5]
numeros_sem_repeticao = list(set(numeros))
print(numeros_sem_repeticao)

[1, 2, 3, 4, 5]

In [44]:
# 9. Dada uma lista de strings, encontre a palavra mais longa.

frutas = ['maçã', 'banana', 'manga', 'uva', 'abacaxi', 'limão']

maior_palavra = max(frutas, key=len)
maior_palavra

'abacaxi'

In [48]:
# 10. Dada uma lista de listas, concatene todas as sublistas em uma única lista.

lista = [
   [1, 2],
   [3, 4],
   [5, 6],
   [7, 8],
   [9, 10]]

cont = 0
lista_concat = []
for i in lista:
    lista_concat = lista_concat + i

lista_concat

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]