In [ ]:
v = float(input('Coloque a tensao: '))
i = float(input('Coloque a corrente: '))

p = v*i

p

In [ ]:
def calcular_potencia (tensao, corrente):
    potencia = tensao * corrente
    return potencia

tensao = 127
corrente = 1

resultado = calcular_potencia (tensao, corrente)

resultado

In [ ]:
pip install pandas

In [ ]:
import pandas as pd

In [19]:
dados = {
    'Tipo de Carro':['Sedan', 'SUV', 'Hatchback', 'Caminhonete', 'Coupé'],
    'Tipo de Direção': ['Hidráulica', 'Elétrica', 'Mecânica', 'Elétrica', 'Hidráulica'],
    'Tipo de Pneus': ['Radial', 'Diagonal', 'Radial', 'Diagonal', 'Radial'],
    'Faixa de Preço': ['Alto', 'Médio', 'Baixo', 'Alto', 'Médio'],
    'Potência-CV': [120,130,100,180,200],
    'VelocidadedeCruzeiro': [True, False, True, True, False]
    }

df_carros=pd.DataFrame(dados)

In [14]:
dados = {
    'Tipo de Carro':['Sedan', 'SUV', 'Hatchback', 'Caminhonete', 'Coupé'],
    'Tipo de Direção': ['Hidráulica', 'Elétrica', 'Mecânica', 'Elétrica', 'Hidráulica']
}

df_carros=pd.DataFrame(dados)

In [15]:
df_carros

  Tipo de Carro Tipo de Direção
0         Sedan      Hidráulica
1           SUV        Elétrica
2     Hatchback        Mecânica
3   Caminhonete        Elétrica
4         Coupé      Hidráulica

In [17]:
df_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Tipo de Carro    5 non-null      object
 1   Tipo de Direção  5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

In [ ]:

df_carros['Potência-CV'].max()
df_carros['Potência-CV'].mean()
df_carros['Potência-CV'].median()

In [20]:
print('O valor mínimo é:',df_carros['Potência-CV'].min())
print('O valor máximo é:',df_carros['Potência-CV'].max())
print('O valor média é:',df_carros['Potência-CV'].mean())
print('O valor mediana é:',df_carros['Potência-CV'].median())

O valor mínimo é: 100
O valor máximo é: 200
O valor média é: 146.0
O valor mediana é: 130.0

In [22]:

def filtra_por_valor(df_carros, coluna, valor):
    return df_carros[df_carros[coluna]==valor]

filtra_por_valor(df_carros, 'Tipo de Carro', 'Sedan')

,Tipo de Carro,Tipo de Direção,Tipo de Pneus,Faixa de Preço,Potência-CV,VelocidadedeCruzeiro
0,Sedan,Hidráulica,Radial,Alto,120,True

In [25]:
carros_desejados = ['Sedan', 'SUV']
for carro in carros_desejados:
    dados = df_carros.loc[df_carros['Tipo de Carro'] == carro]
    print(f'Dados para {carro}:\n{dados}\n')

Dados para Sedan:
  Tipo de Carro Tipo de Direção Tipo de Pneus Faixa de Preço  Potência-CV  \
0         Sedan      Hidráulica        Radial           Alto          120

   VelocidadedeCruzeiro
0                  True

Dados para SUV:
  Tipo de Carro Tipo de Direção Tipo de Pneus Faixa de Preço  Potência-CV  \
1           SUV        Elétrica      Diagonal          Médio          130

   VelocidadedeCruzeiro
1                 False